*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}

.form-div{
    height: 600px;
    width: 500px;
    /* background-color: rgb(203, 223, 241); */
    margin: 190px 700px;
}

h2{
    padding: 30px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
}

p{
    padding: 30px;
    margin-top: -30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(173, 172, 172);
}

.form-fillup{
    padding: 30px;
    margin-top: -30px;
    font-weight: bold;
}

.details{
    height: 60px;
    width: 90%;
    border-radius: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    border-color: rgb(155, 154, 154);
}

.login-details{
    height: 40px;
    width: 90%;
    border-radius: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;

}

.sign-details{
    height: 40px;
    width: 90%;
    border-radius: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-color: rgb(155, 154, 154);
}

.suggestion b{
    color: black;

}

.suggestion p{
    margin-top: 5px;
    font-size: 15px;

}