*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.heading1{
    text-align: center;
    margin-top: 30px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
     /* flex-wrap: wrap; */
     /* border: 20px solid red; */
}

.frst-div{
    display: flex;
    /* border: 20px solid green; */
    gap: 10px;
    

}


.contain-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
    /* border: 10px solid black; */
}

.p1 {
    font-style: italic;
}

.p2 {
    color: gray;
}

.image-part img{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}

.section2{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}