*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html,body{
    height: 100%;
    width:  100%;
    background-color: rgb(117, 241, 127)  ;
}

.card {
    background-color: white;
    height: 500px;
    width: 400px;
    margin:100px 700px;
    border-radius: 30px;
 
}

.card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 30px 85px;
}

.content {

}

.par{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
}

.box-div{
    background-color: rgb(215, 252, 166);
    height: 30px;
    width: 90%;
    margin:10px 25px;
    border-radius: 30px;
}
.box-div-1{
    background-color: rgb(215, 252, 166);
    height: 30px;
    width: 60%;
    margin:15px 90px;
    border-radius: 30px;
}

.content{
    text-align: center;
    font-size: 30px;
    height: 65px;
    width: 80%;
    background-color: aqua;
    margin-left: 40px;
    border-radius: 20px;
    margin-top: 20px;
}

p{
    padding: 20px;
}