*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(92, 92, 253);
}

.div-box{
    border: 10px solid white;
    height: 500px;
    width: 400px;
    border-radius: 40px;
    position: relative;
    margin: 150px 700px;
    background-color: white;

}

.second-div-box{
    height: 200px;
    width: 200px;
    background-color: rgb(216, 203, 203);
    border-radius: 50%;
    position:absolute;
    margin-left: 90px;
    margin-top: 15px;
    overflow: hidden;
}

.second-div-box img{
    height: 200px;
    width: 200px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    padding-top: 5px;
}

.details {
    text-align: center;
    padding-top: 240px ;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    height: 30px;
    width: 90%;
    background-color: rgb(171, 202, 233);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.box-1 {
    height: 30px;
    width: 70%;
    background-color: rgb(171, 202, 233);
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 67px;
}

.submit{
    height: 60px;
    width: 80%;
    margin-top: 55px;
    margin-left: 40px;
    background-color: rgb(238, 185, 12);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    color: white;
    
}